:root{
    --bool-white:#FFFFFF;
    --bool-grey:#F6F8F9;
    --bool-azure:#47ADF1;
    --bool-purple:#9C72E4;
    --bool-orange:#F29E33;
    --bool-green:#64C0A9;
    --bool-pink:#D863A1;
    --bool-yellow:#B0C926;
}

#body_header{
    background-color: var(--bool-white);
}

#logo_bh{
    margin-left: 20px;
    margin-top: 10px;
}

#text_bh{
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 40px;
}


body {
    background-color: var(--bool-grey);
    margin: 0%;
}

main {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    background-color: var(--bool-white);
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}

#main_header{

}

button{
    font-family: 'Roboto';
    font-size: small;
    font-weight: bolder;
    border-radius: 6px;
    border-color: var(--bool-grey);
}

#add_task{
    background-color: var(--bool-azure);
    color: var(--bool-white);
    padding: 6px 10px;
}

#add_section{
    background-color: var(--bool-white);
    color: var(--bool-grey);
    padding: 6px 10px;
}